*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Mulish';
    font-size: larger;
    background-color: black;
    color: ghostwhite;
}

.navbar {
    background: linear-gradient(90deg, black, #6699cc, #a1caf1, #6699cc, black);
    height: 45px;
    font-size: 13pt;
    padding: 5px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-brand {
    font-size: 18pt;
    margin-left: 8px;
    padding: 5px;
}

.navbar-nav {
    padding: 20px;
}

.jumbotron {
    /* align-items: center; */
    background-image: url(./images/Final_marble_photo.JPG); 
    background-size: cover;
    overflow: hidden;
    color: white;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
    text-emphasis: emphasis;
    background-repeat: no-repeat;
    background-position: left;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.jumboTitle {
    margin-top: 45px;
    margin-left: 100px;
    font-size: x-large;
    text-align: justify;
    text-align-last: right;
    color: white;
}

.jumboSubTitle {
    margin-top: -10px;
    margin-left: 100px;
    font-size: larger;
    text-align: justify;
    text-align-last: right;
    color: white;
}

h1 {
    margin: 20px;
    /* font-size: 20pt; */
}

hr {
    color: whitesmoke;
    background-color: white;
}

.sectionHeader {
    /* font-size: 20pt; */
    text-align: center;
}

#contactHeader {
    margin: 20px;
}

.photoOfKristen {
    height: 300px;
    width: 300px;
    align-content: inherit;
    float: right;
}

p {
    margin: 10px;
}

.card {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ebecf0;
    height: 450px;
    font-size: smaller;
}

.card-img-top {
    height: 185px;
}

.btn {
    background-color: black;
    color: ghostwhite;
    border: black;
}

.contact_card {
    height: 775px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.fab {
    margin: 5px;
} 

.footer {
    background: linear-gradient(90deg, black, #6699cc, #a1caf1, #6699cc, black);
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    color: ghostwhite;
    text-align: center;
}