body {
    font-family: 'Mulish', sans-serif;
    font-size: larger;
}

.navbar {
    background: linear-gradient(90deg, black, #6699cc, #a1caf1, #6699cc, black);
}

.jumbotron {
    align-items: center;
    background-image: url(marble_photo_1_crop.jpg); 
    /* background-size: 120% 200%; */
    overflow: hidden;
    color: ghostwhite;
    text-emphasis: emphasis;
    /* height: auto; */
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumboTitle {
    margin-top: -25px;
    font-size: larger;
}

.jumboSubTitle {
    margin-top: -10px;
    font-size: larger;
}

body {
    background-color: black;
    color: ghostwhite;
}

h1 {
    margin: 20px;
    font-size: 20pt;
}

#aboutMe {
    font-size: 20pt;
    margin-left: 50px;
}

.photoOfKristen {
    height: 300px;
    width: 300px;
    align-content: inherit;
    float: right;
}

p {
    margin: 10px;
}

.card {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ebecf0;
    height: 400px;
    font-size: smaller;
}

.card-img-top {
    height: 205px;
}

.btn {
    background-color: black;
    color: ghostwhite;
    border: black;
}

.contact_card {
    height: 850px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer {
    background: linear-gradient(90deg, black, #6699cc, #a1caf1, #6699cc, black);
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    color: ghostwhite;
    text-align: center;
}